
#spinning-wheel-about-us {
    -webkit-animation: spin 80s infinite linear;
    -moz-animation: spin 80s infinite linear;
    -o-animation: spin 80s infinite linear;
    animation: spin 80s infinite linear;
    height: 1em;
    width:1em;
    font-size: 80em; 
    opacity: .1; 
    z-index: 1;
    position: absolute;
    top:0%;
    left: 0;
    bottom:0;
    margin:auto;
    background-color: none;
    color: rgb(200,23,21);
    right:0%;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-o-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}